<ion-header class="modal-header">
  <ion-toolbar class="modal-toolbar">
    <ion-title>{{ info.name }}</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gradient-content">
  <div class="header-content">
    @if (info.image) {
    <img [src]="info.image" [alt]="info.name" class="main-image"
      (error)="info.type === 'album' ? $event.target.src='assets/icon/default-track.png' : $event.target.src='assets/icon/default-artist.png'" />
    }@else{
    @if(info.type === 'album'){
    <img src="assets/icon/default-track.png" alt="Imagen por defecto" class="main-image" height="150px" />
    }@else {
    <img src="assets/icon/default-artist.png" alt="Imagen por defecto" class="main-image" height="150px" />
    }
    }

    <h2>{{ info.name }}</h2>

    <div class="info-meta">
      @if(info.type === 'album') {
      <div class="album-meta">
        <ion-avatar slot="start">
          @if(info.image_artist){
          <img [src]="info.image_artist" alt="Artista" (error)="$event.target.src='assets/icon/default-artist.png'" />
          }@else {
          <img [src]="info.image_artist" alt="Artista" />
          }
        </ion-avatar>

        <div>
          <p class="artista-nombre">{{ info.artist }}</p>
        </div>
      </div>

      <p class="info-extra">Álbum <strong>·</strong> {{ info.release_date | date: 'dd MMM y' }}</p>
      }
    </div>
  </div>

  <ion-list class="tracks" lines="none">
    @for (track of info.tracks; track $index) {
    <ion-item>
      <ion-label>
        <h3>{{ track.name }}</h3>
        <p>{{ info.artist }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
</ion-content>