.modal-header {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modal-toolbar {
    --background: var(--eco-bg-app);
    color: var(--eco-texto-principal);
    padding: .5rem 1rem;
    --border-width: 0 !important;

    ion-button {
        --color: var(--eco-texto-principal);
    }
}

.gradient-content {
    --background: linear-gradient(to bottom, var(--eco-bg-app) 20%, var(--eco-neon) 100%);
}

.header-content {
    .main-image {
        width: 60%;
        border-radius: 10px;
        margin: 1rem auto;
        display: block;
    }

    h2 {
        margin: .5rem 0;
        font-size: 1.2rem;
        color: var(--eco-texto-principal);
        text-shadow: 0 1px 4px #00000080;
    }

    .info-meta {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        .album-meta {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-top: .4rem;

            ion-avatar {
                width: 20px;
                height: 20px;
            }

            .artista-nombre {
                margin: 0;
                font-size: .7rem;
                letter-spacing: .5px;
                color: var(--eco-texto-principal);
                text-shadow: 0 0 2px #0000004D;
            }
        }

        .info-extra {
            margin: 0;
            font-size: .7rem;
            color: var(--eco-texto-secundario);

            strong {
                color: var(--eco-texto-principal);
                font-weight: bold;
            }
        }
    }
}

.tracks {
    margin-top: 1rem;
    background: transparent;

    ion-item {
        --background: transparent;
        background: #0F1C2E80;
        border-radius: 6px;
        margin: .2rem 0;

        h3 {
            margin: 0;
            font-weight: 500;
            color: var(--eco-texto-principal);
            text-shadow: 0 0 2px #00000080;
        }

        p {
            margin: 0;
            font-size: .85rem;
            color: var(--eco-texto-secundario);
        }

        ion-button {
            --color: var(--eco-neon);
        }
    }
}