.tab-bar {
    --background: var(--eco-bg-app);
    --color: var(--eco-texto-secundario);
    border-top: 1px solid var(--eco-bg-app);
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;

    ion-tab-button {
        border-radius: 12px;
        padding: 4px 10px;
        transition: background 0.2s ease;
        color: var(--eco-texto-secundario);
        --ripple-color: transparent;

        display: flex;
        flex-direction: column;
        align-items: center;

        &.tab-selected {
            background-color: #00BFA626;
            color: var(--eco-neon);
        }

        ion-icon {
            font-size: 22px;
        }

        ion-label {
            font-size: 0.75rem;
            margin-top: 2px;
        }
    }
}