.eco-bg {
  --background: var(--eco-bg-app);
  color: var(--eco-texto-principal);
  --padding-bottom: 75px;
}

.header {
  box-shadow: none;

  .toolbar {
    --background: var(--eco-bg-app);
    padding: .5rem 1rem;
    --border-width: 0;
    --border-color: transparent;

    .logo {
      width: 40px;
      height: 40px;
    }

    ion-title {
      padding: 0 1rem;
      color: var(--eco-texto-principal);
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.section {
  padding: .2rem 1rem;

  h2 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: var(--eco-texto-principal);
  }

  ion-spinner {
    display: block;
    margin: 2rem auto;
    --color: var(--eco-texto-principal);
  }

  swiper-container {
    width: 100%;

    swiper-slide {
      display: flex;
      justify-content: center;

      .track-card,
      .album-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
          border-radius: 12px;
          object-fit: cover;
        }

        h3 {
          font-size: .9rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: .3rem;
          width: 100%;
        }

        p {
          font-size: .75rem;
          color: var(--eco-texto-secundario);
          margin-top: 0;
          width: 100%;
        }
      }

      .artist-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        text-align: center;

        .avatar {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: .5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        h3 {
          font-size: .85rem;
          margin: 0;
          color: var(--eco-texto-principal);
        }
      }
    }
  }
}