.container {
    --background: var(--eco-bg-app);
    min-height: 100vh;

    .swiper-container {
        height: 100%;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .slide-image {
                width: 70vw;
                max-width: 400px;
                height: auto;
                display: block;
                margin: 2rem auto;
            }

            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                text-align: center;
                color: var(--eco-texto-principal);
            }

            p {
                font-size: 1rem;
                text-align: center;
                color: var(--eco-texto-secundario);
            }

            .button-container {
                display: flex;

                .btn-skip {
                    font-weight: bold;
                    color: var(--eco-texto-principal)
                }

                .btn-next {
                    font-weight: bold;
                    color: var(--eco-primario);
                }

                .btn-next::part(native) {
                    text-shadow:
                        0 0 6px var(--eco-primario-glow-1),
                        0 0 12px var(--eco-primario-glow-2);
                }

                .btn-start {
                    background-color: var(--eco-primario);
                    color: var(--eco-bg-app);
                    width: 100%;
                    font-weight: 600;
                    border-radius: 30px;
                    height: 48px;
                    box-shadow: 0 4px 12px var(--eco-primario-shadow);
                }
            }
        }
    }
}