.container {
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 85%;
  max-width: 360px;
  padding: 24px;
  text-align: center;

  backdrop-filter: blur(14px);
  border-radius: 20px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.7),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);

  img {
    width: 100%;
    max-width: 260px;
    margin: 0 auto 20px;
    border-radius: 16px;
    object-fit: cover;

    box-shadow:
      0 10px 25px rgba(79, 195, 247, 0.35);

    transition: transform .8s ease, background 0.6s ease;
  }
}

.swiper-slide-active {
  .card {
    transform: scale(1.05);
  }

  img {
    transform: scale(1.05);
  }
}

.info {
  h2 {
    margin: 0 0 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: color 0.5s ease;
  }

  p {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;
    opacity: 0.85;
    transition: color 0.5s ease;
  }
}

.icon {
  color: var(--tema-claro-fondo);
  transition: color 0.5s ease;
}