<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container class="container" loop="true" slides-per-view="1">
    @for (genre of genres; track $index) {
    <swiper-slide class="slide">
      <div class="card">
        <img [src]="genre.image" [alt]="genre.title" />

        <div class="info">
          <h2>{{ genre.title }}</h2>
          <p>{{ genre.description }}</p>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</ion-content>