<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>

    <ion-button slot="end" fill="clear" (click)="cambiarTema()">
      <ion-icon [name]="tema.icon" class="icon"></ion-icon>
    </ion-button>

    <!-- <ion-button slot="end" fill="clear" (click)="navigateTo()">
      <ion-icon name="arrow-forward-outline" class="icon"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <swiper-container class="container" loop="true" slides-per-view="1" [style.backgroundColor]="tema.bg">
    @for (genre of genres; track $index) {
    <swiper-slide class="slide">
      <div class="card">
        <img [src]="genre.image" [alt]="genre.title" />

        <div class="info">
          <h2 [style.color]="tema.texto">{{ genre.title }}</h2>
          <p [style.color]="tema.texto">{{ genre.description }}</p>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</ion-content>